@page "/loanDetails/{LoanId:int}"
@using Shogendar.Karikari.Models
@using System.Globalization

<ItemContainer Item=@Loan>
    <WalletCard Amount=@(Loan.Amount) Title="@Loan.Title" />
</ItemContainer>
<hr />

<ItemContainer Item=@Loan>
    <h1>@($"{GetName(Loan.Repayer)}が、{GetName(Loan.Payer)}に返すお金")</h1>
    <p>@Loan.Description</p>
    <p>日付: @Loan.PayDate.ToString("yyyy/MM/dd")</p>
    <p>返済期限: @Loan.RepayDate.ToString("yyyy/MM/dd")</p>
</ItemContainer>

@code {
    [Parameter]
    public int LoanId { get; set; }
    public Loan Loan { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Loan = await APIClient.Instance.GetLoanAsync(LoanId);
    }
    string GetName(User user)
    {
        if (user.Id == LocalUser.Instance.User.Id)
        {
            return "あなた";
        }
        return user.Name;
    }

}
